          /* Setup */

* {
  box-sizing: border-box;
}

:focus{
  outline: none;
}

html {
  --color-yale-blue: #164e83;
  --color-sandy-blue: #577fff;
  --color-cornsilk: #FAF2D1;
  --color-jasmine: #fbdca2;
  --color-sandy-brown: #eaa05f;
  --color-brown-dark: #e9862f;
  font-family: 'manrope';
  /* --delay-icons: 1s;  background-image: linear-gradient(55deg, var(--color-cornsilk), #ffd699, var(--color-cornsilk), #ffd699, var(--color-cornsilk));
  background-size: 1500%;
  animation: bgg 100s alternate infinite linear; */
}

body {
  background-color: var(--color-cornsilk);
  display: flex;
  justify-content: center;
  padding: 0rem;
  overflow-x: hidden;
}


@media (hover) {
  body {
  padding: 2rem;
  }
}

h1, h2, h3, h4 {
  font-weight: 800;
}

h1{
  font-size: 1.5rem;
}

h2:not(:nth-child(3)) {
  font-size: 1.2rem;
  margin: 1rem .5rem;
  position: relative;
  width: max-content;
  padding-bottom: .35rem;
}

/* h2::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .1875rem;
  border-radius: 100vmax;
  background-color: var(--color-sandy-brown);
  transform-origin: center;
  transform: scaleX(0);
  transition: transform .33s ease;
} */

.right-part h2::after{
  /* background-color: #000a; */
}

h3 {
  font-size: .8rem;
}

h4 {
  margin: 1rem 0;
}

i {
  font-size: 1.2rem;
  transform: translateY(15%);
  color: var(--color-brown-dark);
}

          /* Body */

  /* Animation from the start */
*[style][left]{
  animation: left 1.2s ease calc(0.5s + 0.15s * var(--order)) both;
}
*[style][right]{
  animation: right 1.5s ease-out calc(.4s * var(--order)) both;
}

.body {
  /* aspect-ratio:  210 / 297; aspect-ratio */
  width: min(100%, 65rem);
  background-color: white;
  box-shadow: #1111 0 0 1rem;
}

@media (hover) {
  .body{
    
  display: flex;
  }
}

  /* left-part */

.left-part {
  background-color: var(--color-jasmine);
  flex: 1;
  padding: 2rem;
  color: #000d;
  /* animation: left 2s ease calc(.15s * var(--order)) both; */
}

.left-part h2 {
  /* margin-bottom: 1.5rem; */
}

.left-part > div:not(:last-child) {
  /* margin-bottom: 2.5rem; */
}

.left-part > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

/* profile */

.profile-part {
  border-bottom: 1px solid var(--color-cornsilk);
  /* padding: .5rem; */
  text-align: center;
}

.profile-part:hover > div {
  opacity: 1;
}

.profile-part > div {
  position: relative;
  width: min(100%, 20rem);
  aspect-ratio: 1/1;
  border-radius: 100vmax;
  opacity: 1 !important;
  box-shadow: #fffa 0 0 .5rem;
  background-image: url(./img/man-smiling.svg);
  background-position: center  center;
  background-size: contain;
}

.profile-part img {
  position: relative;
  width: min(100%, 20rem);
  border-radius: 100vmax;
  opacity: 1 !important;
  box-shadow: #fffa 0 0 .5rem;
  transition: border .25s ease ;
}

.profile-part div::before {
  content: '';
  position: absolute;
  border-radius: 100vmax;
  top: -0.5rem;
  left: -0.5rem;
  bottom: -0.5rem;
  right: -0.5rem;
  background-color: transparent;
  border: 0.1875rem var(--color-sandy-brown) solid;
  /* opacity: 0; */
  transition: border .25s ease,border-color .35s ease;
}

.profile-part:hover div::before {
  opacity: 1;
  border: 0.25rem white solid;
}

.profile-part h1 {
  font-size: 1.5rem;
}

.profile-part h2 {
  font-size: 1.2rem;
  font-weight: 300;
}

.profile-part h1 span {
  font-size: 1.2rem;
  font-weight: 300;
}

/* contact */

.contact-info:hover h2::after{
  transform: scale(1);
}

.contact-info a {
  color: #000d;
  text-decoration: none;
}

.contact-info i {
  color: var(--color-brown-dark);
  /* animation: opacity 1s ease var(--delay-icons) both; */
}

/* education */

.education:hover h2::after{
  transform: scale(1);
}

.education {
  text-align: center;
}

@media (hover) {
  .education {
    text-align: left;
  }
}

.education > div:not(:last-child) {
  margin-bottom: 1rem;
}

.education :is(h3, p) {
  margin: .5rem 0;
}

.education h3 {
  color: var(--color-brown-dark);
}

/* lang */

.lang:hover h2::after{
  transform: scale(1);
}

.lang > div > div {
  position: relative;
  width: 100%;
  height: .5rem;
  background-color: #00000014;
}

.lang > div > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  animation: name 1.2s ease 3.9s forwards;
  background-color: var(--color-sandy-brown);
}

  /* right-part */

.right-part {
  flex: 2.4;
  padding: 2rem;
  color: #000000ea;
}

.right-part > div:not(:last-child) {
  margin-bottom: 4rem;
}

.right-part h2 {
  margin-bottom: 3rem;
  color: var(--color-brown-dark);
  text-shadow: #1111 0 0 .5rem  ;
}

.right-part h2:last-of-type{
  /* margin-bottom: 1rem; */
}

/* profile */

.profile:hover h2::after{
  transform: scale(1);
}

/* experience */

.experience:hover h2::after{
  transform: scale(1);
}

.experience > div {
  display: flex;
  flex-wrap: wrap;
}

.experience div :where(.date, .entr) {
  text-align: left;
  margin-left: .3rem;
}

@media (hover) {
  .experience > div {
    display: grid;
    grid-template: auto / 1fr 4fr;
  }

  .experience div :where(.date, .entr) {
    text-align: left;
    margin-left: 0rem;
  }
}

.experience h4 {
  color: var(--color-sandy-brown);
}

/* professional-skills */

.professional-skills:hover h2::after{
  transform: scale(1);
}

.professional-skills > div {
  position: relative;
  width: 100%;
  height: .5rem;
  background-color: #00000014;
}

.professional-skills > div::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  animation: name 2s ease 1s  forwards;
  background-color: var(--color-sandy-brown);
}

/* interest */

.interest:hover h2::after{
  transform: scale(1);
}
          
.interest > div {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.interest p {
  width: 50%;
  text-align: center;
}

@media (hover) {
  .interest p {
    width: max-content;
    text-align: center;
  }
}

.interest i {
  transform: translateY(10%);
  animation: icon 1.2s ease infinite 1s;
  animation-delay: revert-layer;
  /* animation: opacity 1s ease var(--delay-icons) both; */
}

          /* Animation */

@keyframes name  {
  0% { width: 0;
  }
  100% {  width: var(--lvl);
  }
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-8%);
  }

  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes right {
  from {
    opacity: 0;
    /* transform: translateX(-20%); */
  }

  to {
    opacity: 1;
    /* transform: translateX(0%); */
  }
}

@keyframes icon {
  0%{
    transform: translateY(20%), rotate(0);
  }

  20%{
    transform: rotate(20deg);
  }

  60%{
    transform: rotate(-20deg);
  }

  80%{
    transform: translateY(20%), rotate(0);
  }
  100%{
    transform: translateY(21%), rotate(0);
  }
}

@keyframes bgg {
  from{
    background-position: right;
  }
  to{
    background-position: left;
  }
}

          /* Responsive */

@media screen and (min-width:calc(1920px * calc(1 + 1/2) - 100px))  {
  html {
    font-size: calc(16px * calc(1 + 1/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/3) - 200px))  {
  html {
    font-size: calc(16px * calc(1 + 1/3));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 1/1) - 300px))  {
  html {
    font-size: calc(16px * calc(1 + 1/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 3/2) - 400px))  {
  html {
    font-size: calc(16px * calc(1 + 3/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 2/1) - 400px))  {
  html {
    font-size: calc(16px * calc(1 + 2/1));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 5/2) - 500px))  {
  html {
    font-size: calc(16px * calc(1 + 5/2));
  }
}

@media screen and (min-width:calc(1920px * calc(1 + 3/1) - 500px))  {
  html {
    font-size: calc(16px * calc(1 + 3/1));
  }
}

          /* Custom-Scrollbar */

/* width */
::-webkit-scrollbar  {
  width: .45rem;
}

/* Track */
::-webkit-scrollbar-track  {
  background: var(--color-cornsilk);
}

/* Handle */
::-webkit-scrollbar-thumb  {
  background: var(--color-sandy-brown);
  /* border-radius: 100vmax; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover  {
  background: var(--color-brown-dark);
}